
.bl-container--banner{
  position: relative;
  width: 100%;
  height: 558px;
  background-size: contain;
}

.banner__wrap-middle{
  position: absolute;
  left:50%;
  bottom:16.8%;
  transform: translate(-50%,0);
}
.banner__wrap-left{
  width: 50%;
  height: 100%;
}
.banner__wrap-right{
  width: 50%;
  height: 100%;
}
.content-banner__leftSide{
  position: absolute;
  bottom: 27%;
  left: 15%;
}
.content-banner__rightSide{
  right: 15%;
  bottom: 56%;
  position: absolute;
}
.banner__title{
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 41px;
  text-align: center;
  color: #293343;
  margin-bottom: 15px;
}
.banner__subtitle{
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 23px;
  text-align: center;
  color: #293343;
  margin-bottom: 15px;
}

.banner__img{
  text-align: center;
  margin-bottom: 15px;
}
.bl-container--md-banner{
  display: none;
}
.banner__production{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:400px;
  background: url("../../../static/md_banner_fon1.jpg") no-repeat;
background-size: cover;
}
.banner__slogan{
  display: flex;
  padding: 20px 10px;
  justify-content:center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #B3B3B3;
  border-bottom:1px solid #B3B3B3;
}
.slogan-text--banner{
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 200px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 32px;
  margin-right: 20px;
}
.banner__logo{
  display: flex;
  flex-basis: 160px;
}
.slogan__span{
  background-color: #293343;
  color:#ffffff;
  padding: 0 5px;
  font-weight: 500;
}
.slogan-text{
  align-items: start;
  line-height: 31px;
  flex-basis:530px;
  font-weight: 600;
}
.banner__building{
  height: 400px;
  background:url("../../../static/pic2.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
@media (max-width: 1500px) {
  .slogan-text--banner{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 32px;
  }
}
@media (max-width: 1200px) {
  .bl-container--banner{
    display: none;
  }
  .bl-container--md-banner{
    display: block;
  }
}
@media (max-width: 600px) {
  .banner__production{
    height: 310px;
  }
  .banner__building{
    height:310px;
  }
  .slogan-text{
    line-height: 17px;
  }
}