.bl-container--banner-house{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../static/pic_house.png");
  width: 100%;
  height: 470px;
}
.content--banner-house{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner--house__text{
  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}
.banner--house__span{

  font-weight: bold;
  font-size: 2.1875rem;
  line-height: 50px;

  text-transform: uppercase;


}