.slider--brand{
}
.brand{
  padding: 0 10px;
  max-width: 200px;
  text-align: center;
  width: 100%;
}
.slider__item--banner{
  flex-basis: 100%;
}
.slider--brand .slick-track{
  justify-content: start;
}