
.bl-container--ceil {
  font-size:1rem ;
  border-bottom:1px solid #cccccc ;
}
.ceil__menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  .caret{
    margin-left: 10px;
  }
  &-item{
    display: flex;
    align-items: center;
    padding:0;
    white-space: nowrap;
    transition: .3s;
    cursor: pointer;
    &:hover{
      transition: .3s;
      color: #917452;
    }

  }
  &-img{
    margin-right: 5px;
  }
}

@media (max-width: 1080px) {
 .bl-container.bl-container--ceil{
    display: none;
  }
}