.slider--comment{

}
.comment{
  margin-right: 20px;
  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 22px;
    color: #B3B3B3;
    padding-bottom: 15px;
    border-bottom: 1px solid  #CCCCCC;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 22px;
    color: #917452;
    margin-bottom: 5px;
  }

  &__text {
    overflow: hidden;
    font-size: 1rem;
    line-height: 22px;
    margin-top: 15px;
    min-height: 195px;
  }

  &__detailed {
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
    line-height: 22px;
    color: #917452;
  }
  &__act{
    padding: 20px 0 0 0;
    border-top: #CCCCCC 1px solid;
    margin-top:10px;

  }
  &__img{
    padding: 2px;
    border: 1px solid  #CCCCCC;
    max-width: 85px;
    width: 100%;
    max-height: 85px;
    height: 100%;
    &:hover{
      border: 1px solid  #917452;
    }
  }

}
.readmore-js-toggle{
  margin-top: 10px;
  color: #917452;
  text-decoration: none;
}

.slider__item--comment{

  flex-grow:0.2;
}
@media (max-width:549px) {

}