.bl-container--footer {
  background: #293343;
  font-size: 1rem;
}

.content--footer {
  margin: 30px auto;
}

.logo--footer {
  display: flex;
  text-align: end;
  flex-direction: column;
  justify-content: space-between;
  grid-area: logo--footer;
}

.menu--footer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #917452;
  grid-area: menu--footer;
}

.menu__item--footer {
  margin-bottom: 15px;
  cursor: pointer;
  padding:0 10px;
  span:hover {
    font-weight: bold;
  }
}

.production__addition {
  margin-top: 45px;
  display: flex;
  grid-area: production__addition;
}

.footer__social {
  grid-area: footer__social;
  display: flex;
  align-items: flex-end;

  img {
    margin-left: 10px;
  }
}

.menu-items--footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  white-space: nowrap;
  margin: 0 10px 0 20px;


  .link--footer {
    margin-left: 5px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;

    &:hover {
      font-weight: 700;
    }
  }
}

  .payCard {
    grid-area: payCard;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
      font-size: 0.875rem;
      color: #FFFFFF;
      line-height: 16px;
    }
  }

  .payCard__items {
    display: flex;

    img {
      margin: 10px 10px 0 0;
    }
  }

  .wrapper-grid--footer {
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 2fr 1fr;
    grid-template-row: 1.1fr 0.2fr;
    grid-gap: 15px;
    grid-template-areas: "logo--footer menu--footer  production production__addition" "payCard menu--footer production  footer__social "

  }

  .footer__span--social {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #677180;
    white-space: nowrap;

  }

  .menu__down--footer {
    display: none;
  }

  .menu__item-list {
    margin: 15px 0 0 15px;
    text-decoration: none;
    list-style-type: none;

    a {
      color: #677180;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .office__item {
    display: flex;
    color: #FFFFFF;
    margin-bottom: 15px;
  }


  .production {
    grid-area: production;
    display: flex;
    justify-content: center;

    &__item {
      display: flex;
      color: #FFFFFF;
      margin-top: 15px;
    }
  }
.menu__item-block{
  margin-left: 25px;
}
  .footer {
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin-right: 10px;
        max-height: 18px;
      }

    }

    &__title {
      margin-bottom: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 23px;
      color: #FFFFFF;
    }

    &__text-mg {
      text-align: end;
    }

    &__span {
      white-space: nowrap;
    }
  }

  .footer-caption {
    background: #262626;

    &__text {
      font-size: 0.875rem;
      line-height: 16px;
      color: #666666;
    }
  }

  .content--footer-caption {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 20px;
  }

  .caret__mg--footer {
    margin: 0 5px 0 10px;
  }

  .pvh-down {
    display: none;
  }

  .footer-line {
    grid-area: footer-line;
  }
.footer__text--table{

  td{
    padding: 3px;
  }
}
  @media (max-width: 1200px) {
    .wrapper-grid--footer {
      grid-template-columns: 0.5fr 0.5fr 0.8fr 0.5fr;
      grid-template-rows: 0.5fr 1px 1fr 0.1fr;
      grid-template-areas: "logo--footer menu--footer menu--footer menu--footer" "footer-line footer-line footer-line  footer-line" "production production production__addition payCard " "production production production__addition  footer__social"
    }
    .menu--footer {
      border: none;
      justify-content: center;

      .menu-items--footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 10px;
        .menu__item--footer {
          margin: 5px 0;
        }
      }
    }
    .production__addition {
      margin-top: 47px;
      align-items:flex-start;
    }

    .logo--footer {
      justify-content: center;
    }
    .menu__down--footer {
      position: absolute;
      background: #293343;
      padding: 10px;
    }
    .footer-line {
      height: 1px;
      background: #917452;
      width: 100%;
    }
    .menu__item-block{
      margin-left: 0;
      text-align: center;
    }
  }
  @media (max-width: 700px) {
    .wrapper-grid--footer {
      grid-template-columns: 0.5fr 0.5fr auto;
      grid-template-rows: 0.5fr 1px 1fr .1fr;
      grid-template-areas: "logo--footer menu--footer menu--footer" "footer-line footer-line footer-line" "production production production__addition" " payCard payCard footer__social"
    }

    .menu-items--footer {
      padding: 0;
      flex-direction: row;
    }

    .production__addition {
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .wrapper-grid--footer {
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 0.2fr 1px 0.5fr 0.5fr 0.4fr 0.2fr;
      grid-template-areas: "logo--footer" "menu--footer" "footer-line" "production" "production__addition" "payCard" "footer__social"
    }
    .logo--footer {
      text-align: center;
      margin-right: 15px;
    }
    .menu-items--footer {
      padding: 0;
      flex-direction: row;
    }

    .production__addition {
      justify-content: center;

      margin: 0;
    }
    .footer__title {
      margin: 0;
    }
    .production__item {
      margin-top: 10px;
    }
    .footer__production {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top:10px;
    }
    .footer__social {
      justify-content: center;
    }
    .payCard__text {
      text-align: center;
    }
    .payCard__items {
      justify-content: center;
    }
  }
