header {
  background-color: #FFFFFF;
}

.bl-container--header {
  height: 108px;
  border-bottom: 1px solid #CCCCCC;
}

.content--header {
  padding: 0 20px 0 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.nav--header {
  width: 100%;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex:1;

  &1 {
    box-sizing: border-box;
    padding: 10px;
    cursor: auto;

  }

  &2 {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
  }

  &__number {
    font-size: 1.4375rem;

  }

  &__text {
    color: #B3B3B3;
    font-size: 0.8125rem;
  }
}

.button__text {
  font-size: 1rem;
  line-height: 19px;
}

.button--orderSpec__button--call {
  margin-left: 18px;
}

.wrapper--header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}


.wrapper--buttons {
  display: flex;
}

.row--header {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.menu-hamburger {
  display: none;
}

.md-logo {
  display: none;

}

.button__img--telephone {
  width: 30px;
  height: 28px;
  background: url("../../../static/telephone.svg") no-repeat center;
  transition: .3s;
}

.button--call {
  &:hover {
    .button__img--telephone {
      transition: .3s;
      background: url("../../../static/telephone_white.svg") no-repeat center;
    }
  }
}

.button__img--orderSpec {
  width: 30px;
  height: 30px;
  background: url("../../../static/worker.svg") no-repeat;
  transition: .3s;
}

.button--orderSpec {
  &:hover {
    .button__img--orderSpec {
      transition: .3s;
      background: url("../../../static/worker_white.svg");
    }
  }
}

.down {
  display: inline-block;
  position: relative;
}

.down-label {
  cursor: pointer;
}

.down-menu {
  position: absolute;
  display: none;
  left: 0;
  top: 2em;
  width: auto;
  background: #ffffff;
  z-index: 999999;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.13);
  padding: 20px;

  .caret {
    margin-left: 10px;
  }

  .ceil__menu--down {
    flex-direction: column;
  }

  .ceil__menu-item--down {
    padding: 10px;
    transition: 0.3s;

    &:hover {
      color: #293343;
      transition: 0.3s;
      font-weight: bold;
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;
}
.link--header{
  color: #293343;
}

.header__fixed{
  position: fixed;
  background: #FFFFFF;
  top: 0;
  left: 0;
  padding: 10px 0;
  animation: showElement;
  animation-duration: 1s;
  z-index: 100;
  width: 100%;
}
@keyframes showElement{
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
@media (max-width: 1300px) {
  .bl-container--header {
    border-bottom: 1px solid #CCCCCC;
  }
  .content--header {
    padding: 0 20px;
  }
  .row--header {
    border: none;
  }
  .button__text {
    display: none;
  }
  .button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  .button__img {
    margin: 0;
  }

  .menu-hamburger {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

}

.menu-hamburger__img {
  cursor: pointer;
}
@media (max-width: 800px) {
  .md-logo {
    display: flex;
    align-items: center;
  }
  .lg-logo {
    display: none;
  }
  .bl-container--header {
    padding: 5px 0;
    height: auto;
  }
}


@media (max-width: 540px) {
  .menu-hamburger {
    display: flex;
    align-items: center;
    margin: 0 10px 2px 0;
  }
  .button {
    width: 40px;
    height: 40px;
  }
  .md-logo {
  }
  .button--orderSpec__button--call {
    margin-left: 5px;
  }
  .content--header {
    padding: 0 10px;
  }
}
@media (max-width: 400px) {
  .menu-hamburger {
    display: flex;
    align-items: center;
    flex: none;
    margin: 0;
  }
}

