.slider-card{
  flex-basis: 300px;
  flex: 0.8;
  cursor: pointer;
  &__title{
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 23px;
    color: #293343;
    margin: 14px 0 10px 0;
  }
  &__subtitle{
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    color: #917452;
  }
}
.slider__title{
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #293343;
  margin: 35px 0;
}