.wrapper-grid--project{
  grid-template-areas:
          "img7 img8 img9"
          "img10 img11 img12";
}
.card{
  cursor: pointer;
  &-img7{
    background-image: url("../../../static/7.png");
    grid-area: img7;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }
  &-img8{
    background-image: url("../../../static/8.png");
    grid-area: img8;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }
  &-img9{
    background-image: url("../../../static/9.png");
    grid-area: img9;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }
  &-img10{
    background-image: url("../../../static/10.png");
    grid-area: img10;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }
  &-img11{
    background-image: url("../../../static/11.png");
    grid-area: img11;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }
  &-img12{
    background-image: url("../../../static/12.png");
    grid-area: img12;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
  }}
@media (max-width: 870px) {
  .wrapper-grid--project{
    grid-template-areas:
            "img7 img8"
            "img9 img10"
            "img11 img12";
  }
}
