.wrapper-grid--service{
  grid-template-areas:
          "img1 img2 img3"
          "img4 img5 img6";
}
.card{
    &-img1{
      background: url("../../../static/1.png") no-repeat,#0776bd;
      grid-area: img1;
      transition:.5s;
      background-size: cover;

      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }
    &-img2{
      background: url("../../../static/2.png") no-repeat;
      grid-area: img2;
      background-size: cover;
      transition: .5s;
      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }
    &-img3{
      background: url("../../../static/3.png") no-repeat;
      grid-area: img3;
      background-size: cover;
      transition: .5s;
      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }
    &-img4{
      background: url("../../../static/4.png") no-repeat;
      grid-area: img4;
      background-size: cover;
      transition: .5s;
      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }
    &-img5{
      background: url("../../../static/5.png") no-repeat;
      grid-area: img5;
      background-size: cover;
      transition: .5s;
      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }
    &-img6{
      transition: .5s;
      background: url("../../../static/6.png") no-repeat;
      grid-area: img6;
      background-size: cover;
      &:hover{
        transition: .5s;
        transform: scale(0.96, 0.96);
      }
    }

  &__text{
    margin: 42px 0 0 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 35px;
    color: #FFFFFF;

  }
}

@media (max-width: 870px) {
  .wrapper-grid--service{
    grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6";
  }
}
  @media (max-width: 600px) {
    .card {
      &__text {
        font-size: 1.4rem;
        margin: 10px;
        width: 50%;
        line-height: 20px;
      }

      .br--service {
        display: none;
      }
    }
  }
