.bl-container--top{
  background: #293343;
  height: 30px;
}
.content--top{
  padding:0 20px;
  max-width: 1300px ;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content:flex-end;
  img{
    margin-left: 20px;
  }
}
@media (max-width: 1350px) {
  .content--top{
    padding:0 10px;
  }
}