.bl-container--orderService{
  background:#293343 ;
}
.orderService{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.orderCall{
  background: #FFFFFF;
  flex-grow: 0.5;
  padding:0 10px;
   &__title{
     font-size: 3.125rem;
     line-height: 59px;
     font-weight: bold;
     text-align: center;
     color: #917452;
     margin: 40px 20px 30px 20px;
   }
     &__form{
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     &__subtitle{
       font-size: 0.875rem;
       line-height: 16px;
       text-align: center;
       color: #B3B3B3;
       margin: 0 20px  20px 20px;
     }
     .form{
       width: 100%;
       box-sizing: border-box;
       padding-left: 20px;
       min-width: 150px;
       max-width: 303px;
       margin-bottom: 20px;
       height: 45px;
       &-button{
         border: none;
         cursor: pointer;
         background:#BF1010;
         color:#FFFFFF;
         transition: .5s;
         &:hover{
           background: #293343;
           transition: .5s;
         }
       }
     }
}

.freeService {
  margin-left:30px ;
  &__grid {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 195px 195px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  &__title{
    font-weight: bold;
    font-size: 2.1875rem;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
}
.freeService__img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__text{
  margin-top:20px;
}
.grid-item{
  padding: 10px;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px  solid  #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: .5s;
  &:hover{
    transition: .5s;
    background: #917452;
  }
  &1{

  }
  &2{

  }
  &3{

  }
  &4{

  }

}
@media (max-width: 1200px){
  .orderCall{
    width: 100%;
  }
  .freeService{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
@media (max-width: 600px) {
  .freeService{
    margin:20px 10px;
  }
  .orderCall {
    &__title {
      margin: 20px 0 20px 0;
    }
  }
  .freeService__grid{
    grid-template-rows: 125px 125px;
    grid-template-columns: 140px 140px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

}