.bl-container--pages{
justify-content: center;
  padding: 0 20px;
  margin: 25px 0 10px;
  max-width: 1300px ;
}
.content--pages{
  margin: 0;
}
.pages{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  margin-left: -10px;
  &__item{
    margin:0 10px;
  }
}