.bl-container--bn-buyer{
  background: url("../../../static/buyer-fon.png") no-repeat left;

  height: 550px;
  width: 100%;
}
.content--bn-buyer{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.bn-buyer{
  position: relative;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  max-width: 624px;
  &__title{
    margin-top:-40px;
    font-weight: bold;
    font-size: 2.4375rem;
    line-height: 46px;
    text-align: center;
    color: #917452;
    margin-bottom: 15px;
  }

  &__subtitle{
    font-weight: bold;
    font-size: 1.6875rem;
    line-height: 32px;
    text-align: center;
    color: #917452;
    margin-bottom: 35px;
  }

  &__company{
    display: flex;
    margin:0 10px 10px 10px;
    align-items: center;
  }
  &__companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text{
    margin-left: 30px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 23px;
  }
  &__img{
    text-align: center;
    width: 80px;
  }
}
.bn-buyer__button{
  position: absolute;
  transition: .3s;
 /* &--phone{
    bottom: 71px;
    right: 18px;
    &:hover {
      transition: .3s;
      transform: scale(1.06, 1.06);
    }
  }*/
  &--phone{
    position: fixed;
    bottom: 50px;
    right: 64px;
    z-index: 999;
    &:hover {
      transition: .3s;
      transform: scale(1.06, 1.06);
    }
  }
}
#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#bf1010;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #bf1010;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#bf1010;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:75px;height:75px;background-image:url('../../../static/red_phone.png');background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}

@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) scale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

@media (min-width: 1920px) {
  .bl-container--bn-buyer{
    background-size: cover;
  }
}

@media (max-width: 1400px) {
  .bl-container--bn-buyer {

    background-position:center;
  }

}
@media (max-width: 950px) {
  .bl-container--bn-buyer {
    background: #f9f6f2;
    height: auto;
    padding: 20px 0;
  }
  .content--bn-buyer{
    justify-content: center;
  }
  .bn-buyer {
    position: relative;
    padding: 0 20px;
    background: none;
    height: 100%;
    max-width: 100%;
  }
  .bn-buyer__title{
   margin-top:0;
  }


}
@media (max-width: 600px) {
  .bn-buyer__button{
    img{
      width: 100%;
    }
    &--arrow{
      width:40px;
      bottom: 18px;
      right:17px
    }
    &--phone{
      width: 73px;
      right: 0px;
      bottom: 52px;
    }
  }
  .img-circle{
    bottom: 80px;right: 6px;
  }
  .circle-fill{
    bottom:66px;right:-8px
  }
  .circlephone{
    bottom:41px;right:-33px;
  }
}
