
.certificate{
  margin: 0 10px;
  max-width: 240px;
  max-height: 330px;
  border: #cccccc 1px solid;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
  }
}

.certificate__files{
  display: none;
}
.certificate__file-wrap{
  max-width: 90vw;
  max-height: 90vh;
  padding: 20px 110px;
  background: #FFFFFF;
  img{
    max-width: 90vw;
    max-height: 90vh;
  }
  &--big{
 max-height: 100%;
 padding:0;
    img{
      max-height: 100%;
    }
}
}
.slider__title--certificate{
  margin-bottom: 0;
}
.slider__subtitle--certificate{
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: center;
    color: #293343;
    margin: 20px 0 10px 0;
}