.chat{
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  width: 303px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background: #0074B8;
  border-radius: 0 30px 0 0;
  padding: 0 20px;
  z-index: 1;
  img{
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  &__text{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
  }
}
@media (max-width:950px ) {
.chat{
  bottom: -75px;
  width: 50%;
  height: 45px;
}
}
@media (max-width:520px ) {
  .chat{
    bottom: -40px;
    width: 50%;
    img{
      width: 25px;
      height: 25px;
    }
  }

}