.content---comment-buyer{
  margin-top:15px;
}
.comment__files{
  display: none;
}
.comment__file-wrap{
  padding: 20px 110px;
  background: #FFFFFF;
  img{
    width: 100%;
    height: 100%;
  }
}
.comment__act{
  a{

  }
}
.comment__img{
  &:hover:after{
      content:'';
      width: 800px;
      height: 600px;
      background: url("../../../static/act1.jpeg"), #FFFFFF;
      padding: 50px;

    }
}
@media  (max-width: 1900px) {
  .comment__file-wrap {
    max-width: 1000px;
    max-height: 100%;
  }
}
@media  (max-width: 1200px) {
  .comment__file-wrap {
    max-width: 540px;
    padding: 20px 30px;
  }
}
@media  (max-width: 600px) {
  .comment__file-wrap {
    padding: 20px 10px;
  }
}
