.confirmation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 430px;
  &__title{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
  }
  &__subtitle{
    margin-top: 28px;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .confirmation{
    width: 300px;
    height: 300px;
  }

}