.bl-container--inquirer{
  background:#EBEBEB ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content--inquirer{
  background: #FFFFFF;
  margin: 80px 10px;
  max-width: 1056px;
  min-width: 0;

}

.question {
  &__items {
    display: flex;
    margin-bottom: 45px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    margin: 0 10px;
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    color: #917452;
    margin: 40px 10px 25px 10px;
  }
  &__radio{
    display: none;
    &:checked + .question__fake::before {
      opacity: 1;
    }
  }
  &__fake{
    width: 20px;
    height: 20px;
    border: 1px solid #CCCCCC;
    margin: 20px 0 15px 0 ;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      display: block;
      width: 14px;
      height: 14px;
      background: #cccccc;
      opacity: 0;
      transition: .2s;
      border-radius: 50%;
    }
  }
  &__img{
    border: 1px solid #CCCCCC;
    padding: 50px;
  }
  &__submit{
    color: #FFFFFF;
    width: 196px;
    height: 45px;
    background: #917452;
    margin-bottom: 50px;
  }
}
.slider__item--inquirer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

@media (max-width: 670px) {
  .question__img{
    border: none;
    padding:20px;
  }
}
@media (max-width: 500px) {
  .question__img{
    border: none;
    width: 100%;
    padding:0;
  }
}