.invite{
  padding: 20px 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 40px;
  text-align: center;
  color: #917452;
  &__span{
    margin-top: 10px;
    font-size: 1.75rem;
  }
}
.content--invite{
  margin: 40px auto 30px ;
}