.item-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 488px 488px;
  column-gap: 15px;
  row-gap: 15px;
  &__title{
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
  }
}

.item-card{
  border: 1px solid #CCCCCC;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__content{
    padding: 10px;
  }
  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  &__text{
    .item-card__title{
      font-size: 1.375rem;
      line-height: 26px;
      color: #917452;
      margin-bottom: 20px;
    }
    .item-card__subtitle-wrap{
      text-align: center;
    }
    .item-card__subtitle-open{
      color: #cccccc;
      border-bottom:1px solid #cccccc;
      display: none;
      margin-bottom: 10px;
    }
    .item-card__subtitle{
      font-size: 1rem;
      line-height: 22px;
      min-height: 115px;
      text-align: left
    }
  }
  &__about{
    font-size: 0.875rem;
    line-height: 22px;
    display: flex;
    .item-card__cell{
      flex-basis: 33%;
      padding:20px;
      text-align: center;
      border: 1px solid #CCCCCC;
      margin: 0 0 -1px -1px;
    }
    .item-card__efficiency{
      margin: 0 -1px -1px -1px;
      flex-basis: 66%;
      padding:20px;
      text-align: center;
      border: 1px solid #CCCCCC;
    }
  }
}

@media (max-width: 890px) {
  .item-cards{
    grid-template-columns: 1fr 1fr;
    grid-template-rows:minmax(200px,1fr);
      img{
        width: 80px;
        height: 80px;
      }
    .item-card{
      &__text{
        .item-card__title{
         text-align: center;
        }
      }
      &__about{
        display: block;
      }
      &__cell{
        padding:5px;
        margin: -1px;
      }
      &__efficiency{
        padding:5px;
        margin: -1px;
      }
      &__subtitle{
        display: none;
      }
      &__subtitle-open{
        display: inline-block;
      }
    }
  }
}