.bl-container--map{
  position: relative;
  display: flex;
  justify-content: start;
}
.content--map{
  position: absolute;
  margin: 0;
  height: 490px;
  box-sizing: border-box;
  align-items: center;
  left: 16%;
  bottom:0;
}
.footer__text--map{
  color: #293343;

}
.footer__td-padding{
  padding: 0 0 15px 0;

}
.map__title{
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 22px;
  text-align: center;
  margin: 30px 0;
}
.map__city {
  position: relative;
  background: #293343;
  color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
  min-width: 300px;

}
.map-location{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  box-sizing: border-box;

}
.map__menu{
  position: relative;
  width: 100%;
  display: none;
  .map__menu-down{
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 30px;
    max-height: 300px;
    overflow: hidden auto;
    margin: 0;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
      &::-webkit-scrollbar{
        width: 10px;

      }
      &::-webkit-scrollbar-thumb{
        width: 5px;
        background: #CCCCCC;
        border-radius: 7px;
      }

  }
  &-item{
    color: #293343;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 19px;
    cursor: pointer;
    &:hover{
      font-weight: bold;
    }



  }
}
.active-city{
  background: #F0F0F0;
  color: #917452;
}
.map__about{

}
.map__about-wrapper{
  display: block;
  background: #FFFFFF;
  flex: 1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}
.footer__title--map{
  color: #917452;
  font-weight: bold;
}
@media (max-width: 1350px) {
  .map-location {
    margin-left: 25px;
  }
  .content--map{
    left: 13%;
  }
}
@media (max-width: 768px) {
  .map__city {
    margin: 0;
  }
  .content--map {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
    padding: 0 10px;
  }
  .map-location {
    max-width: 100%;
    margin: 0;
  }
  .map__about{

  }
  .map__about-wrapper{
    width: 100%;
  }
}
