.bl-container--orderService{
  background:#293343 ;
}
.content--orderService{
  margin: 40px 0;
}
.orderService{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-buyer {
  background: #FFFFFF;
  flex-grow: 0.6;
  padding: 0 10px;
  &__title {
    margin: 35px 10px 5px 10px;
    font-weight: bold;
    font-size: 2.125rem;
    line-height: 40px;
    text-align: center;
    color: #917452;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 23px;
    text-align: center;
    color: #917452;
  }
  .action-buyer__content{
    margin:30px 0 30px 0;

    display: flex;
    justify-content: center;
    img{
      border-radius: 8px;
    }
  }
  &__gift{

    &1{
      font-family: Lobster;
      font-size: 1.75rem;
      line-height: 35px;
      margin-right: 20px;
      flex:1;
      color: #BF1010;
      text-align: end;
    }
    &2{

    }
    &3{
      display: flex;
      margin-left: 20px;
      flex: 1;
      img{
        width: 65px;
        height: 125px;
      }
    }
  }

}

.freeService {
  margin-left:30px ;
  &__grid {
    display: grid;
    grid-template-rows: 195px 195px;
    grid-template-columns: 195px 195px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  &__title{
    font-weight: bold;
    font-size: 2.1875rem;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
}
.freeService__img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__text{
  margin-top:20px;
}
.grid-item{
  padding: 10px;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px  solid  #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: .5s;
  &:hover{
    transition: .5s;
    background: #917452;
  }
  &1{

  }
  &2{

  }
  &3{

  }
  &4{

  }

}
.orderCall__specialty{
  text-align: center;
  margin: 25px 10px;
  font-size: 0.875rem;
  line-height: 16px;
  color: #B3B3B3;

}
@media (max-width: 1320px){
  .action-buyer{
    width: 100%;
  }
  .freeService{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-buyer__content{
    img{
      width: 80%;
      height: 100%;
    }
  }
}
@media (max-width: 600px) {
  .freeService{
    margin:20px 0px;
  }
  .action-buyer {
    padding:0 5px;
    &__title {
      margin: 20px 0 20px 0;
    }
    .action-buyer__content{
      flex-wrap: wrap;
    }
    &__gift1{
      width: 100%;
      flex: none;
      text-align: center;
      margin-bottom: 20px;

    }
    &__gift3{
      flex: none;
    }

  }
  .freeService__grid{
    grid-template-rows: 125px 125px;
    grid-template-columns: 140px 140px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .action-buyer__content{
    padding: 0 10px;
    img{
      width: 100%;
    }
  }
}