.bl-container--orderCall{
  display: none;
}
.orderCall{
  background: #FFFFFF;
  padding:10px 20px;
   &__title{
     font-size: 3.125rem;
     line-height: 59px;
     font-weight: bold;
     text-align: center;
     color: #917452;
     margin: 40px 20px 30px 20px;
   }
     &__form{
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     &__subtitle{
       font-size: 0.875rem;
       line-height: 16px;
       text-align: center;
       color: #B3B3B3;
       margin: 0 20px  20px 20px;
     }
     .form{
       width: 100%;
       box-sizing: border-box;
       padding-left: 20px;
       min-width: 150px;
       max-width: 303px;
       margin-bottom: 20px;
       height: 45px;
       border: 1px solid #cccccc;
       &-button{
         border: none;
         cursor: pointer;
         background:#BF1010;
         color:#FFFFFF;
         transition: .5s;
         &:hover{
           background: #293343;
           transition: .5s;
         }
       }
     }
}
.orderCall .form.form-comment {
  height: auto;
  padding: 15px 20px;
}
.orderCall__info{
  margin-bottom: 20px;
}
@media (max-width: 1200px){
  .orderCall{
    width: auto;
  }
}
@media (max-width: 600px) {
  .orderCall {
    &__title {
      margin: 20px 0 20px 0;
    }
  }

}