.content--procedure{
  margin-top: 40px;
}
.procedure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0;
  row-gap: 60px;

  .procedure__item-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    &:after{
      background-size: cover;
      width: 87px;
      height: 43px;
      right: -44px;
      top: 15px;
    position: absolute;
      background-repeat: no-repeat;
      content: "";
    }

    &1:after {

      background-image: url("../../../static/arrow1.png");
    }

    &2:after {


      background-image: url("../../../static/arrow2.png");

    }

    &3:after {

      background-image: url("../../../static/arrow3.png") ;

    }
    &4:after {

      display: none;
    }
    &5:after {

      background-image: url("../../../static/arrow4.png");
    }

    &6:after {

      background-image: url("../../../static/arrow5.png");


    }

    &7:after {

      background-image: url("../../../static/arrow6.png");

    }
    &8:after {

      display: none;
    }
  }


  &__title {
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 30px;
    text-align: center;
    color: #293343;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-title {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 23px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-subtitle {
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
  }
  &__span{
    font-weight: bold;
    font-style:italic ;
  }
}
@media (max-width: 1200px) {
  .procedure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) ;
    .procedure__item-wrapper {
      &1:after {
        background-image: url("../../../static/arrow1.png");
      }
      &2:after {
        display: none;
      }

      &3:after {
        background-image: url("../../../static/arrow2.png");

      }
      &5:after {
        background-image: url("../../../static/arrow3.png");

      }
      &6:after {
        display: none;
      }
      &7:after {
        background-image: url("../../../static/arrow4.png");

      }
    }
  }

}
@media (max-width: 600px) {
  .procedure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) ;
    row-gap: 40px;
    .procedure__item-wrapper {
      &:after{
        width: 53px;
        height: 26px;
        right: -26px;
        top: 35px;
      }
    }
  }

}
@media (max-width: 450px) {
  .procedure {
    row-gap: 15px;
    &__text-subtitle {
      display: none;
    }
    &__img {
      img{
        width: 60px;
      }
    }
    .procedure__item-wrapper {
      &:after{
        width: 53px;
        height: 26px;
        right: -28px;
        top: 35px;
      }
    }
  }



}