.bl-container--produced{

}
.content--produced{
  padding:40px 10px 45px 10px;
  background:#293343;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.bl-years {
  flex: 0.25;
  &__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    padding: 10px;
    color: #222B38;
    text-align: center;
    background: #D9D9D9;
    box-sizing: border-box;
  }

  &__subtitle {
    padding: 10px;
    height: 115px;
    background: #F5F5F5;
    font-size: 1.375rem;
    line-height: 26px;
    text-align: center;
    color: #917452;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__span{
    text-align: center;
    &1{
      font-size: 1.625rem;
      line-height: 33px;
      margin-bottom: 13px;
    }
    &2{
      font-weight: bold;
      font-size: 5.625rem;
      line-height: 92px;

    }
    &3{
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 47px;
      margin:0 0 10px 5px;
    }
  }
}

.double-dot{
  display: flex;
  justify-content: center;
  margin: 0px 10px 80px;
  flex: 0.1;
}

.bl-meter {
flex: 0.5;
  &__title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    height: 150px;
    background: #D9D9D9;
    color: #222B38;
    text-align: center;
    font-weight: bold;
  }

  &__subtitle {
    box-sizing: border-box;
    padding: 10px;
    height: 115px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #917452;
    font-size: 1.375rem;
    line-height: 26px;
  }
  &__span1{
    font-size: 5.625rem;
    line-height: 92px;
    white-space: nowrap;
  }
  &__span2{
    font-size: 2.5rem;
    line-height: 47px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .content--produced{
    display: block;
  }
  .bl-years {
    &__title {
      height: auto;
    }

    &__subtitle {
      height: auto;
    }
  }
    .bl-meter {
      &__title {
        height: auto;
      }

      &__subtitle {
        height: auto;
      }
    }
  .double-dot{
    margin: 0;
    img{
      transform: rotate(90deg);
    }
  }
}