.content--profileVeka {
  margin: 80px 0;
  max-width: 1056px;
  padding: 0 20px
}

.profileVeka {
  display: flex;
  justify-content: center;
  &__title{
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  &__img{
    margin-right: 20px;
  }
  &__item {
    flex-basis: 480px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin:  50px 0 0;

    &-title {

      font-weight: bold;
      font-size: 1.25rem;
      line-height: 23px;
      color: #917452;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-size: 1rem;
      line-height: 19px;
      color: #293343;
    }

  }
}
@media (max-width: 1200px) {
  .profileVeka {
    &__title{
      text-align: center;
      margin-left: -210px;
    }
    &__items{
      display: block;
    }
    &__item{
      flex-grow: 0;
    }
  }

}
@media (max-width: 600px) {
  .profileVeka {
    &__title {
      margin: 0;
    }

    &__item {
      align-items: start;
      &-subtitle {
        br{
          display: none;
        }
      }
    }
  }
}