
.content--quality{
  margin: 0;
}
.quality{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #917452 1px solid;
  border-bottom: #917452 1px solid;
  padding: 40px 20px;
  &__img{

  }
  &__text{
    margin-left: 57px;
    color: #917452;
    line-height: 22px;
    .quality__title{
      font-size: 1.25rem;
      margin-bottom: 20px;
    }
    .quality__subtitle{
      font-size: 1rem;
    }

  }
}
@media (max-width: 600px) {
  .quality{
    &__img{
      img{
        width: 110px;
        height: 110px;
      }
    }
    &__text{
      margin: 20px 0;
      text-align: center;
      .quality__subtitle{
       display: none;
      }
    }

  }
}
