.wrapper-grid--buyer {
  display: grid;
  grid-template-rows: 454px 454px 454px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.service-buyer__title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 30px;
  text-align: center;
  color: #293343;
  margin-bottom: 20px;
}
.card card--buyer{

}
.card-img1--buyer {
    background: url("../../../static/1_buyer.png") no-repeat, #0776bd;
    transition: .5s;
    background-size: cover;

    &:hover {
      transition: .5s;
      transform: scale(0.96, 0.96);
    }
}

.card-img2--buyer {
  background: url("../../../static/buyer_2.png") no-repeat, #0776bd;
  transition: .5s;
  background-size: cover;

  &:hover {
    transition: .5s;
    transform: scale(0.96, 0.96);

  }
}

.card-img3--buyer {

  background: url("../../../static/buyer_3.png") no-repeat, #0776bd;

  transition: .5s;
  background-size: cover;

  &:hover {
    transition: .5s;
    transform: scale(0.96, 0.96);

  }
}

.card-img4--buyer {

  background: url("../../../static/buyer_4.png") no-repeat, #0776bd;

  transition: .5s;
  background-size: cover;

  &:hover {
    transition: .5s;
    transform: scale(0.96, 0.96);
  }

}

.card-img5--buyer {
  background: url("../../../static/buyer_5.png") no-repeat, #0776bd;

  transition: .5s;
  background-size: cover;

  &:hover {
    transition: .5s;
    transform: scale(0.96, 0.96);
  }

}

  .card-img6--buyer {
    background: url("../../../static/buyer_6.png") no-repeat, #0776bd;

    transition: .5s;
    background-size: cover;

    &:hover {
      transition: .5s;
      transform: scale(0.96, 0.96);

    }
  }

    .card-img7--buyer {
      background: url("../../../static/buyer_7.png") no-repeat, #0776bd;

      transition: .5s;
      background-size: cover;

      &:hover {
        transition: .5s;
        transform: scale(0.96, 0.96);
      }

    }

      .card-img8--buyer {
        background: url("../../../static/buyer_8.png") no-repeat, #0776bd;

        transition: .5s;
        background-size: cover;

        &:hover {
          transition: .5s;
          transform: scale(0.96, 0.96);
        }

      }

        .card-img9--buyer {
          background: url("../../../static/buyer_9.png") no-repeat, #0776bd;
          transition: .5s;
          background-size: cover;

          &:hover {
            transition: .5s;
            transform: scale(0.96, 0.96);
          }
        }

@media (max-width: 1200px) {
  .wrapper-grid--buyer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( 5, 254px);
  }
}
@media (max-width: 600px) {
  .wrapper-grid--buyer {
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1fr 1fr;

  }
}