.countdown-title {
  color: #293343;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  margin: 10px auto 25px;
  width: 80%;
  border-bottom: #cccccc 1px solid;
  text-align: center;
  position: relative;
}
.countdown-span{
  position: absolute;
  transform: translate(-50%,-50%);
  background: #FFFFFF;
  padding: 10px;
  margin: 0;
}
.countdown {
  font-family: Roboto;
  color: #293343;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
  font-size: 1.875rem;
}

.countdown-number {
  padding: 15px 25px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  display: inline-block;
}

.countdown-time {
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
.countdown-dot{
  margin: 5px;
}
.countdown-number-none{
  display: none;
}
@media (max-width: 600px) {
  .countdown-number {
    padding: 10px 20px;
  }
  .countdown-title{
    width: 95%;
    margin: 25px auto 30px;
  }

}