
ul{
    padding: 0;
}
table{
    padding: 0;
    border-spacing: 0;
}

body {
    margin:0;
    font-family: "Roboto" !important;
    font-weight: 400;
    color: #293343;
}
@media (max-width: 768px){
    html{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    html{
        font-size: 11px;
    }
}