$white: #ffffff;
$accent: #917452;
$pink: #ff3399;
$black:#293343;
$gray:#B3B3B3;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 990px,
        xl: 1200px
) !default;