.bl-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  max-width: 1300px ;
  width: 100%;
  margin: 55px auto;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.row{
  display: flex;

}

@media(max-width: 1300px) {
  .content{
    padding: 0 20px;
  }
}
@media(max-width: 520px) {
  .content{
    margin: 20px auto;
    padding: 0 10px;
  }
}