.button{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size:1rem;
  color: #917452;
  border:1px solid #917452;
  transition: .3s;
  width: 250px;
  height: 45px;
  cursor: pointer;
  box-sizing: border-box;
  &:hover{
    background: #917452;
    transition: .3s;
    color: #E5E5E5;
  }
  &__img{
    margin-right: 15px;
  }
}