#modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  overflow: auto;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 999;
}
#innerModal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 20vmin auto;
  width: max-content;
  height: auto;
  background:white;
  box-sizing: border-box;

  position: relative;
    .closeModal{
      position: absolute;
      right: 15px;
      top: 15px;
      &:hover{
        color:#bf1010;
      }
    }
}
@media (max-width: 600px) {
  .container{
    margin: 25vh 10px;
    width: auto;
  }
  .closeModal{
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

