.wrapper-grid{
  display: grid;
  grid-template-rows: 456px 456px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.card{
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 870px) {
  .wrapper-grid{
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .wrapper-grid{
    grid-template-rows: 180px 180px 180px;
    grid-template-columns:  1fr 1fr
  }
  .card{
    background-position:center ;
  }
}